<form action="" method="post">

    {% csrf_token %}

    <label for="title"> Title   : </label>
    <input type = "text" name = "title" id = "title" placeholder = "Enter name of the recipe">

    <br><br>
    
    <label for="ingredients"> Ingredients : </label>
    <input type = "ingredients" name = "ingredients" id = "ingredients" placeholder = "Enter the Ingredients">
    
    <br><br>

    <label for="time"> Preparation Time  :</label>
    <input type = "text" name = "time" id = "time" placeholder = "Enter preparation time">

    <br><br>

    <label for="instructions"> Instructions : </label>
    <input type = "instructions" name = "instructions" id = "instructions" placeholder = "Enter the instructions">

    <br><br>
    
    <button>Submit</button>

</form>