{% extends "base.html" %}

{% block content %}

    <h2>Article List</h2>


{% if search %}
    <h2>Search result for '{{ search }}'</h2>
    {% if no_results %}
        <h3>No results found for "{{ search }}". Showing all articles:</h3>
    {% endif %}
{% else %}
    <h2>Here are all the articles...</h2>
{% endif %}



    <ul>
        {% for article in articles %}
            <li>
                <h3><a href="{% url 'article' article.id %}">Article {{ forloop.counter }}: {{ article.name }}</a></h3>
                <p>{{ article.desc| truncatewords:10 }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
