<h1>SIGN UP PAGE</h1>

<form action="" method="post">

    {% csrf_token %}

    <label for="username">Username</label>
    <input type="text" name="username" id="username" required></input> 

    <br><br>


    <label for="email">Email</label>  
    <input type="email" name="email" id="email" required></input>

    <br><br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required></input>

    <br><br>

    <label for="conf_password">Confirm Password</label>
    <input type="password" name="conf_password" id="conf_password" required></input>

    <br><br>

    <button type="submit">Submit</button>

</form>

<span style="color: red">{{ msg }}</span>
